{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/goroos_logo.png' %}" class="logo"
            alt="Brussels Kangaroos"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li {% if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#">Members</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#">Games</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#">Information</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item mr-3">
                <a class="nav-link" href="register.html">
                    <i class="fas fa-user-plus"></i> Register</a>
            </li> -->
            <li {% if 'signin' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
                {% endif %}>
                <a class="nav-link" href="{% url 'signin' %}">
                    <i class="fas fa-sign-in-alt"></i>

                    Login</a>
            </li>
        </ul>

    </div>
</nav>